default_language_version:
  python: python3.10
repos:
  - repo: local
    hooks:
      - id: update_readme
        name: Update Readme
        entry: python scripts/generate_readme.py
        language: python
      - id: sort_all
        name: Sort __all__
        entry: python scripts/sort_all.py
        language: python
        types: [python]
  - repo: https://github.com/hadialqattan/pycln
    rev: v1.2.0
    hooks:
      - id: pycln
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
        args: [-C]
  - repo: https://github.com/PyCQA/flake8
    rev: 4.0.1
    hooks:
      - id: flake8
        exclude: ^examples/.*\.py$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.931
    hooks:
      - id: mypy
        args: [--ignore-missing-imports, --scripts-are-modules, --warn-unused-ignores, --warn-redundant-cast]
        exclude: ^examples/.*\.py$
