default_language_version:
    python: python3.8
repos:
- repo: local
  hooks:
  - id: sort_all
    name: Sort __all__
    entry: python3 scripts/sort_all.py
    language: python
    types: [ python ]
- repo: https://github.com/ambv/black
  rev: 20.8b1
  hooks:
  - id: black
    language_version: python3.8
- repo: https://github.com/PyCQA/flake8
  rev: 3.8.4
  hooks:
  - id: flake8
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.790
  hooks:
  - id: mypy
