name: CI

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  test:
    name: Test ${{ matrix.python-version }}${{ matrix.compile && ' compiled' || '' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10', 'pypy3']
        compile: [true, false]
    steps:
    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: pip
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: cythonize
      if: matrix.compile
      run: |
        python -m pip install cython ${{ matrix.compile && (matrix.python-version == '3.6' || matrix.python-version == 'pypy3') && 'dataclasses' || '' }}
        python scripts/cythonize.py
        python setup.py build_ext --inplace
    - name: Install tox
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Run tox
      run: tox

